/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{font-family:'Poppins', sans-serif;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* Custom CSS */

body{
	font-family:'Poppins', sans-serif;
}

header{
	width: 100%;
	background: url(../images/Group.png) no-repeat center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 60px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
}


.navbar-expand-lg{
	/*background-color: transparent!important;*/
}
.navbar{
  background-color: #003049!important;
}

.navbar-expand-lg > .container{
	padding: 0;
}

.navbar-light .navbar-nav .nav-item{
	margin: 0 10px;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #ffffff;
	border-bottom: 3px solid #BC175C;
	padding: 8px 0 5px;
	margin: 0 8px 3px;

}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:focus{
	color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #ffffff;
	border-bottom: 3px solid #BC175C;
	padding: 8px 0 5px;
	margin: 0 8px 3px;
}

.nav-add-background{
	background-color: #003049!important;
}

.image-section-header{
	padding: 200px 0 342px;
}

.image-section-header > .row{
	max-width: 600px;
    margin: 0;
}

.image-section-header h1{
	font-weight: 600;
	font-size: 55px;
	color: #ffffff;
	line-height: 60px;
	max-width: 495px;
}

.image-section-header p{
	font-weight: 400;
	color: #ffffff;
	max-width: 549px;;
	padding: 20px 0 50px;
}

.buttons-section{
	float: left;
    display: inherit;
}

.buttons-section a, .buttons-section a:hover{
	padding: 13.5px 36px;
	color: #ffffff;
	text-decoration: none;
}

.buttons-section a:first-child{
	background: #02B6C9;
	box-shadow: 0 10px 20px 0 rgba(2,182,201,0.10);
	border-radius: 5px;
}

#main-container{
	position: relative;
  padding: 470px 0 0;
}

.first-section{
	float: left;
	width: 100%;
	padding: 62.5px 0;
	background: #ffffff;
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.17);
	border-radius: 5px;
	position: absolute;
	top: -180px;
}

.first-section > div{
	float: left;
	text-align: center;
}

.first-section div h3{
	max-width: 317px;
	font-weight: 500;
	font-size: 18px;
	color: #003049;
	margin: 20px auto 15px;
}

.first-section div p{
	font-weight: 400;
	font-size: 16px;
	color: #9B9B9B;
	line-height: 25px;
	max-width: 418px;
	margin: 0 auto;
}
.first-section ul{
	text-align: left;
}

.big-title{
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #003049;
	padding: 60px 0 15px;
}

.thinRedLine{
	background: #BC175C;
	height: 3px;
	width: 48px;
	margin: 0 auto;
}

.identity_access{
	width: 100%;
	background: #F9F9F9;
	padding: 0 0 70px;
}

.identity_access .container{
	padding-left: 0;
    padding-right: 0;
}

.section-with-three-boxes{
	float: left;
  padding: 65px 0 0;
	text-align: center;
}

.section-with-three-boxes div{
	float: left;
	background: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16);
	border-radius: 5px;
	padding: 50px 20px;
	width: 31.3%;
	/*cursor: pointer;*/
}

.section-with-three-boxes div:hover{
	background: url(../images/Rectangle-9.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.section-with-three-boxes div:hover h4, .section-with-three-boxes div:hover p, .section-with-three-boxes div:hover a{
	color: #ffffff!important;
}

.section-with-three-boxes div:nth-child(2){
	margin: 0 3%;
}

.section-with-three-boxes h4{
	font-weight: 500;
	font-size: 18px;
	color: #003049;
	margin-bottom: 20px;
}

.section-with-three-boxes p{
	font-weight: 400;
	font-size: 14px;
	color: #9B9B9B;
	line-height: 25px;
	min-height: 220px;
}

.section-with-three-boxes a{
	font-weight: 600;
	font-size: 16px;
	color: #02B6C9;
}

a.more {
	font-weight: 600;
	font-size: 16px;
	color: #02B6C9;
}

.section-with-three-boxes a:hover{
	text-decoration: none;
}
a.more:hover{
	text-decoration: none;
}

.info-section{
	float: left;
	background: #ffffff;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.16);
	border-radius: 5px;
	margin-top: 30px;
	padding: 31.5px 22px;
}

.info-section .col-sm-2{
	text-align: center;
}

.info-section .col-sm-2, .info-section .col-sm-10{
	float: left;
}

.info-section p{
	font-size: 14px;
	color: #9B9B9B;
	line-height: 25px;
	font-weight: 400;
	padding-top: 15px;
}

.identity_access.data_extraction{
	background-color: #ffffff;
}

.data_extraction .section-with-three-boxes p{
    min-height: 135px;
}

.data_extraction .section-with-three-boxes > div:hover{
	background: url(../images/Rectangle-10.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.identity_access.data_extraction .info-section p{
    padding-top: 25px;
}

.identity_access.integration_data_migration > div{
	width: 100%;
	margin: 0 auto;
}

.identity_access.integration_data_migration .section-with-three-boxes{
	text-align: left;
	padding: 50px 0 0;
}

.identity_access.integration_data_migration .section-with-three-boxes > div{
	width: 100%;
	margin-bottom: 30px;
	padding: 33px 49px;
}

.identity_access.integration_data_migration .section-with-three-boxes > div p{
	min-height: 84px;
}

.identity_access.integration_data_migration .section-with-three-boxes > div:nth-child(2){
	margin: 0 0 30px;
}

.identity_access.integration_data_migration .section-with-three-boxes > div:hover{
	background: url(../images/Rectangle-5.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.identity_access.integration_data_migration .section-with-three-boxes a{
	float: right;
}
a.more{
	float: right;
}

.identity_access.integration_data_migration .info-section p{
	padding-top: 2px;
}

.identity_access.integration_data_migration .info-section{
	margin-top: 0px;
}

.identity_access.clients{
	background: #ffffff;
}

.identity_access.clients .section-with-three-boxes div{
	background: transparent;
	box-shadow: none!important;
	border-radius: 0;
}

.identity_access.partners img{

}

.identity_access.partners .section-with-three-boxes p{
	min-height: 130px;
}

.identity_access.partners .section-with-three-boxes > div:hover{
	background: #ffffff;
}

.identity_access.partners .section-with-three-boxes div:hover p{
	color: #9B9B9B!important;
}
.identity_access.partners .section-with-three-boxes div:hover a{
	color: #02B6C9!important;
}
/*
.identity_access.partners .section-with-three-boxes > div:first-child img{
	margin-bottom: 12px;
}

.identity_access.partners .section-with-three-boxes > div:nth-child(2) img{
	margin-bottom: 36px;
}
*/

.identity_access.partners .section-with-three-boxes > div.comming-soon{
	padding: 113.5px 20px;
}

.identity_access.partners .section-with-three-boxes > div.comming-soon:hover, .identity_access.partners .section-with-three-boxes > div.comming-soon:hover p{
	color: rgba(155,155,155,0.21)!important;
	cursor: default;
}

.identity_access.partners .section-with-three-boxes > div.comming-soon p{
	min-height: auto;
	font-weight: 900;
	font-size: 54px;
	color: rgba(155,155,155,0.21);
	text-align: center;
	line-height: 56px;
}

.identity_access.request_quote{
	background: #ffffff;
	padding: 20px 0 70px;
}

.identity_access.request_quote .info-section{
	width: 100%;
	padding: 42.5px 22px;
}

.identity_access.request_quote .info-section > div{
	float: left;
}

.identity_access.request_quote .info-section p{
	padding: 0;
}

.identity_access.request_quote .col-sm-3{
	float: right;
	text-align: right;
}

.identity_access.request_quote a{
	padding: 13.5px 22px;
    color: #ffffff;
    text-decoration: none;
	background: #02B6C9;
    box-shadow: 0 10px 20px 0 rgba(2,182,201,0.10);
    border-radius: 5px;
}

footer{
	width: 100%;
  background: #003049;
  padding: 27.5px 0;
  /*
  margin-bottom: 0px;
  bottom: 0;
  position: absolute;
  width: 100%;
  */
}

footer .container{
	padding-left: 0;
	padding-right: 0;
}

footer .container > div{
	float: left;
}

footer .container > div:last-child{
	text-align: right;
}

.copyright{
	font-weight: 400;
	font-size: 14px;
	color: rgba(255,255,255,0.38);
	position: relative;
	top: 3px;
	padding-left: 0;
}

.social-media{
	padding-right: 0;
}

.social-media a{
	border-radius: 50%;
	background: rgba(255,255,255,0.25);
	margin-left: 15px;
}

.social-media a i{
	font-size: 14px;
	color: rgba(255,255,255,0.38);
}

.social-media .twitter{
	padding: 3.5px 6px;
}

.social-media .twitter i{
	position: relative;
    left: 2px;
}

.social-media .facebook, .social-media .linkedin{
	padding: 3.5px 9.5px;
}

.social-media .facebook i{
	position: relative;
    left: 2px;
}

.social-media .linkedin i{
	position: relative;
    left: 1px;
    top: -1px;
}
.img-responsive{
	max-width: 100%;
  /*min-height:100px;
  height: auto;*/
  height: 150px;
  object-fit: contain;
}
/* Media Queries */

@media (max-width: 991px){

	.image-section-header > .row, .image-section-header h1, .image-section-header p{
		max-width: 100%;
	}

	/* change navbar-toggler inside lines color (stroke) */
	.navbar-light span.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		color: white;
	}

	.navbar-light .navbar-toggler{
		color: #ffffff;
		border-color: #ffffff;
	}

	nav.navbar{
		background-color: #003049!important;
	}

	.navbar-light .navbar-nav .active>.nav-link{
		margin-left: 0;
		border-bottom: 0;
	}

	.section-with-three-boxes p{
		min-height: 300px;
		margin-bottom: 20px;
	}
	.info-section p{
		margin-bottom: 20px;
	}

	.section-with-three-boxes h4{
		min-height: 54px;
	}

	.data_extraction .section-with-three-boxes p{
		min-height: 150px;
	}

	.identity_access.partners .section-with-three-boxes > div:nth-child(2) img {
		margin-bottom: 38px;
	}

	.identity_access.partners .section-with-three-boxes > div:nth-child(2) a {
		margin-top: 43px;
		float: left;
		width: 100%;
	}
	.identity_access.partners .section-with-three-boxes > div.comming-soon{
		padding: 136px 20px;
	}
	.identity_access.partners .section-with-three-boxes > div.comming-soon p{
		font-size: 43px;
	}
	.identity_access.request_quote .info-section > div:first-child{
		width: 60%;
		max-width: 60%;
	}
	.identity_access.request_quote .info-section > div:last-child{
		width: 40%;
		max-width: 40%;
	}
}

@media (max-width: 767px){

	.navbar-brand img{
		max-width: 200px;
	}

	.image-section-header {
		padding: 200px 15px;
	}

	.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:visited, .navbar-light .navbar-nav .nav-link:focus{
		margin: 0!important;
		border-bottom: none!important;
		padding: 8px 0!important;
	}

	.image-section-header h1{
		font-size: 20px;
		line-height: 30px;
	}

	.image-section-header p{
		padding: 20px 0;
	}

	#main-container{
		padding: 0;
	}
	.first-section{
		padding: 0 0 15px 0;
		position: relative;
		top: 0;
		box-shadow: none;
	}

	.first-section > div{
		padding-top: 30px;
	}

	.big-title{
		padding: 15px 0;
	}

	.identity_access{
		padding: 0;
	}

	.identity_access.integration_data_migration .section-with-three-boxes > div{
		padding: 30px 15px;
	}

	.identity_access.integration_data_migration .section-with-three-boxes a{
		float: left;
	}

	.section-with-three-boxes h4, .data_extraction .section-with-three-boxes p{
		min-height: auto;
	}

	.info-section{
		margin-top: 0;
		padding: 15px 0;
		box-shadow: none;
	}

	.section-with-three-boxes div{
		box-shadow: none;
	}

	.section-with-three-boxes{
		padding: 0!important;
	}

	.big-title, .identity_access{
		background: #ffffff;
	}

	.big-title{
		font-size: 22px;
		padding: 15px;
	}

	.identity_access.clients .section-with-three-boxes div{
		padding: 15px;
	}

	.identity_access.partners .section-with-three-boxes p{
		min-height: auto;
	}

	.identity_access.partners .section-with-three-boxes > div.comming-soon{
		padding: 30px 15px;
	}

	.identity_access.partners .section-with-three-boxes > div.comming-soon p{
		font-size: 30px;
	}

	.identity_access.request_quote .info-section > div{
		width: 100%!important;
		max-width: 100%!important;
	}

	.identity_access.request_quote .info-section > div:last-child{
		text-align: center;
		margin-top: 30px;
	}

	.identity_access.request_quote{
		padding: 20px 0 0;
	}

	.identity_access.request_quote .info-section{
		padding: 0px 22px 42.5px;
	}

	.identity_access.request_quote .info-section p{
		text-align: center;
	}

	footer .container > div:last-child{
		margin-top: 20px;
	}

	footer .container > div{
		text-align: center!important;
		padding: 0;
	}

	.section-with-three-boxes div{
		width: 100%;
		margin: 0!important;
		padding: 30px 15px;
	}

	.section-with-three-boxes p{
		min-height: auto;
	}
}
@media (max-width: 350px){
	.image-section-header {
		padding: 120px 15px 70px;
	}
	.buttons-section a, .buttons-section a:hover{
		padding: 13.5px 20px;
		font-size: 14px;
	}
}


.scrollup {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	/*<!--display: none;-->*/
	z-index: 9999999;
	/*text-indent: -9999px;*/
	/*<!--background-image: fa-caret-up url('img/icon_top.png');-->*/
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: rgba(34, 34, 34, 0.6);*/
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	transition-duration: 0.4s;

	font-family: FontAwesome;
	font-size: 1em;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul li .fas{
  /*color: #02B6C9;*/
  margin: 10px;
}
ul img{
  vertical-align: middle;
  margin: 10px;
}

h2 small{
  font-size: 20px;
}
