@import org.raisercostin.sekyll._

@(parent:Item, item:Item)
@scala.Option(item.data.linkTo.asOption.orElse(parent.data.linkTo.asOption).orElse(parent.data.link.asOption).map(_.asString).getOrElse("#nolink")).map{link=>
<div class="col-xs-12 @if(!parent.data.isLong.asOptionBoolean.getOrElse(false)){col-sm-4}else{}">
  @if(link!=item.slug){
  <a href="@item.slug">
  }
  @part.html.optional(item.titleIfNeeded){x=>
    <h4>@x</h4>
  }
  @part.html.optional(item.data.image.asOption.map(_.asUrl)){x=>
    <img src="@x" alt="" class="img-responsive">
  }
  @part.html.optional(item.data.description.asOption.map(_.asString)){x=>
    <p>@Html(x)</p>
  }
  @part.html.optional(item.data.action.asOption.map(_.asString)){x=>
    <a class="more" href="@link">
      @x
    </a>
  }
  @if(link!=item.slug){
  </a>
  }
</div>
}
