@import org.raisercostin.sekyll._
@()(implicit item:Item)
@*
<header class="card bg-light text-black border-0 my-header">
  <img class="card-img" src="@item.data.image.asString" alt="@item.data.description.asString">
  <!--
  <div class="card-img-overlay">
    <h4 class="card-title mt-5 mb-3">@item.data.motto.asString</h4>
    <p class="card-text">@item.data.description.asString</p>
  </div>
  -->
</header>
*@
<div class="container image-section-header">
  <div class="row">
    <h1>@item.data.motto.asString</h1>
    <p>@item.data.description.asString</p>
    <div class="buttons-section">
      <a href="contact">Request Info</a>
    </div>
  </div>
</div>
