@import org.raisercostin.sekyll._

@(header: Html = play.twirl.api.HtmlFormat.empty)(footer: Html = play.twirl.api.HtmlFormat.empty)(content: Html)(implicit item:Item)

@main(header)(footer) {
  <div class="col-xs-12 identity_access">
    <div class="col-xs-12 container big-title">
      <h2>@item.title.getOrElse("no-title")<small>@item.data.subtitle.asOptionString.map(" - "+_).getOrElse("")</small></h2>
      <div class="thinRedLine"></div>
    </div>
  </div>
  <article class="container">
    @*
    <header>
    	<h2>@item.data.title.asString <small>@item.data.subtitle.asOptionString.getOrElse("")</small></h2>
    </header>
    *@
    @*
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@item.site.route.home">Home</a>
            </li>
            <li class="breadcrumb-item active">@item.data.title.getOrElse("-")</li>
        </ol>
    *@
    @content
  </article>
  @part.html.quote()
}
