@import org.raisercostin.sekyll._

@(headerParam: Html = play.twirl.api.HtmlFormat.empty)(footer: Html = play.twirl.api.HtmlFormat.empty)(content: Html)(implicit item:Item)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="2qqwtpJL7UA-gBHxpbIqn2r1yAub1Rx3bgkYIp1m_8M" />
    <base href="@item.site.path/"/>
    <title>@item.title - @item.site.title</title>

    <!-- Generate favicons from a square png at https://www.favicon-generator.org/-->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favicons end-->

    <!-- Open Graph and Schema if needed goes below this line - https://webcode.tools/open-graph-generator/business -->

    @styles()
</head>
<body class="container-fluid">
	@*
	<a href="https://github.com/raisercostin/sekyll"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 10000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
	*@
  <div class="row">
    <header class="@item.data.cssClass ">
      @nav()
      @headerParam
    </header>
    @*<main role="main">
      <div class="mt-0 mb-5"/>*@
        @content
      @*</div>
    </main>*@
  </div>
  <button type="button" class="scrollup btn btn-outline-primary">&#xf0d8;</button>
  <div class="row">
		<footer>
				<div class="container">
					<div class="col-xs-12 col-sm-6 copyright">
						Copyright &copy; Revomatico 2018
					</div>
					<div class="col-xs-12 col-sm-6 social-media">
						<a href="https://www.twitter.com/@item.site.data.social.accounts.twitter.asString" target="_blank" class="twitter">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="https://www.facebook.com/@item.site.data.social.accounts.facebook.asString" target="_blank" class="facebook">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="https://www.linkedin.com/company/@item.site.data.social.accounts.linkedinCompany.asString" target="_blank" class="linkedin">
							<i class="fab fa-linkedin-in"></i>
						</a>
@*
<a href="https://www.twitter.com/@item.site.data.social.accounts.twitter.asString" target="_blank" title="twitter"><i class="svg-icon twitter"></i></a>
<a href="https://www.facebook.com/@item.site.data.social.accounts.facebook.asString" target="_blank" title="facebook"><i class="svg-icon facebook"></i></a>
<!-- <a href="https://www.linkedin.com/in/@item.site.data.social.accounts.linkedin.asString" target="_blank" title="linkedin"><i class="svg-icon linkedin"></i></a> -->
<a href="https://www.linkedin.com/company/@item.site.data.social.accounts.linkedinCompany.asString" target="_blank" title="linkedin"><i class="svg-icon linkedin"></i></a>
*@
					</div>
				</div>
		</footer>
@*
					<ul>
						@for(url<-item.site.data.social.accounts){
							<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>
							<li><a href="@url">@url</a></li>
						}
					</ul>
{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.footer-links.rss | absolute_url }}"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
{% if site.footer-links.goodreads %}<a href="https://www.goodreads.com/{{ site.footer-links.goodreads }}"><i class="svg-icon goodreads"></i></a>{% endif %}
*@
    @scripts()
    @footer
</body>
</html>
