@import org.raisercostin.sekyll._

@()(implicit item:Item)
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-add-background">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="images/logo.svg" width="250" height="55" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    @*
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    *@
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @item.classSelectedPage("/")"">
                    <a class="nav-link" href="/">About us</a>
                </li>
                <li class="nav-item dropdown @item.classSelectedPage("/portfolio*")">
                    <a class="nav-link dropdown-toggle d-none d-lg-block hasHover" id="navbarDropdownOurWork" data-toggle-disable="dropdown" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <a class="nav-link dropdown-toggle d-lg-none" id="navbarDropdownOurWork" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-on-hover @item.classSelectedPage("/portfolio")" aria-labelledby="navbarDropdownOurWork">
                        <a class="dropdown-item  @item.classSelectedPage("/portfolio")" href="/portfolio">Portfolio - All</a>
                    	@for(solution <- item.site.items("portfolio")){
                        <a class="dropdown-item  @item.classSelectedPage(solution.link)" href="@solution.link">@solution.shortTitle</a>
                        	@if(solution.children.nonEmpty){
                        	@for(solution2 <- solution.children){
    		                   	  <a class="dropdown-item  @item.classSelectedPage(solution2.link) pl-5" href="@solution2.link">@solution2.shortTitle</a>
    		                   	}
                        	}
                        }
                    </div>
                </li>
                <li class="nav-item dropdown @item.classSelectedPage("/offer*")">
                    <a class="nav-link dropdown-toggle d-none d-lg-block hasHover" id="navbarDropdownSolutions" data-toggle-disable="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solutions & Services
                    </a>
                    <a class="nav-link dropdown-toggle d-lg-none" id="navbarDropdownSolutions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Solutions & Services
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-on-hover" aria-labelledby="navbarDropdownSolutions">
                        <a class="dropdown-item @item.classSelectedPage("/offer")" href="/offer">Solutions & Services - All</a>
                    	@for(solution <- item.site.items("offer")){
                        <a class="dropdown-item  @item.classSelectedPage(solution.link)" href="@solution.link">@solution.shortTitle</a>
                        	@if(solution.children.nonEmpty){
                            @for(solution2 <- solution.children){
    		                   	  <a class="dropdown-item  @item.classSelectedPage(solution2.link) pl-5" href="@solution2.link">@solution2.shortTitle</a>
    		                   	}
                        	}
                        }
                    </div>
                </li>
                @*
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-lg-none" href="career" id="navbarDropdownCareer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CAREER
                    </a>
                    <a class="nav-link dropdown-toggle hidden-md-down" href="career" id="navbarDropdownCareer" aria-haspopup="true" aria-expanded="false">
                        CAREER
                    </a>
                     <!-- see https://careers.google.com -->
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-on-hover" aria-labelledby="navbarDropdownCareer">
                        <a class="dropdown-item hidden-lg-up" href="career">Career</a>
                        <a class="dropdown-item" href="teams">Teams</a>
                        <a class="dropdown-item" href="locations">Locations</a>
                        <a class="dropdown-item" href="how-we-hire">How we hire</a>
                        <a class="dropdown-item" href="students">Students</a>
                        <a class="dropdown-item" href="jobs">Jobs</a>
                    </div>
                </li>
                <li class="nav-item dropdown @item.classSelectedPage("/blog")">
                    <a class="nav-link dropdown-toggle d-lg-none " href="/blog" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BLOG
                    </a>
                    <a class="nav-link dropdown-toggle hidden-md-down" href="/blog" id="navbarDropdownBlog" aria-haspopup="true" aria-expanded="false">
                        BLOG
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-on-hover" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item hidden-lg-up" href="blog">Blog</a>
                        <a class="dropdown-item" href="events">Events</a>
                        <a class="dropdown-item" href="news">News</a>
                        <a class="dropdown-item" href="how-we-work">How We Work</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                        <div class="dropdown-divider">other</div>
                        <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                        <a class="dropdown-item" href="full-width.html">Full Width Page - demo</a>
                        <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404</a>
                        <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                    </div>
                </li>
                *@
                <li class="nav-item @item.classSelectedPage("/contact")">
                    <a class="nav-link" href="/contact">Contact us</a>
                </li>
            </ul>
            @*
            <form class="form-inline my-2 my-lg-0">
              <gcse:searchbox-only class="form-control mr-sm-2" enableAutoComplete="true" resultsUrl="YOUR_RESULTS_PAGE_URL" type="search" placeholder="Search" aria-label="Search"></gcse:searchbox-only>
				      <input class="form-control mr-sm-2 gcse-searchbox-only" type="search" placeholder="Search" aria-label="Search">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				    </form>
				    *@
        </div>
    </div>
</nav>
