@import org.raisercostin.sekyll._

@()(implicit item:Item)
<div class="col-xs-12 identity_access request_quote">
	<div class="col-xs-12 container">
		<div class="col-xs-12 info-section">
			<div class="col-xs-12 col-sm-9">
				<p>Request a free quote for your project</p>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="contact">Request Quote</a>
			</div>
		</div>
	</div>
</div>
