@import org.raisercostin.sekyll._

@()(implicit item:Item)

@if(item.site.devMode){
<!-- dev mode -->
<script src="@item.site.path/lib/jquery/jquery.js"></script>
<script src="@item.site.path/lib/popper.js/dist/umd/popper.js"></script>
<script src="@item.site.path/lib/tether/js/tether.js"></script>
<script src="@item.site.path/lib/bootstrap/js/bootstrap.js"></script>

<!-- Main JavaScript -->
<script src="js/scripts.js"></script>
<script src="@item.site.path/js/main.js"></script>
<script src="@item.site.path/js/contact_me.js"></script>
<script src="@item.site.path/js/jqBootstrapValidation.js"></script>

}else{
<!-- prod mode -->
<script src="@item.site.path/js/all-@{item.site.assetFingerPrint}.js"></script>
}


<!-- Tools -->
@item.site.data.analytics.google.asOptionString.map{analyticsId =>
<!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=@analyticsId"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '@analyticsId');
  </script>
        @*
        {% if jekyll.environment == 'production' and site.google_analytics %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview', {
              'page': '{{ page.url | absolute_url }}',
              'title': '{{ page.title | replace: "'", "\\'" }}'
            });
          </script>
        {% endif %}
        *@
<!-- End Google Analytics -->

}
@item.site.data.analytics.facebook.asOptionString.map{analyticsId =>
<!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '@analyticsId');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=@analyticsId&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->

}
@item.site.data.analytics.hotjar.asOptionString.map{analyticsId =>
<!-- Hotjar Tracking Code for www.revomatico.com -->
  <script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:@analyticsId,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
<!-- End Hotjar -->

}

@item.site.data.analytics.leadfeeder.asOptionString.map{analyticsId =>
<!-- leadfeeder start-->
    <script> (function(){ window.ldfdr = window.ldfdr || {}; (function(d, s, ss, fs){ fs = d.getElementsByTagName(s)[0]; function ce(src){ var cs = d.createElement(s); cs.src = src; setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1); } ce(ss); })(document, 'script', 'https://lftracker.leadfeeder.com/@{analyticsId}.js'); })(); </script>
<!-- leadfeeder end -->
}

@* gcse:search https://cse.google.com/cse/ *@
@*
<script>
(function() {
var cx = '003158469566385426364:t1pmb9bfxvq';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
</script>
*@
