@import org.raisercostin.sekyll._

@(section:Item)
<div class="col-xs-12 identity_access @section.data.cssClass.asOptionString.getOrElse("")">
  <div class="col-xs-12 container">
    <h2 class="col-xs-12 big-title">@section.title</h2>
    <div class="thinRedLine"></div>
    <div class="section-with-three-boxes container">
      @for(child <- section.children){
        @part.html.box(section,child)
      }
    </div>
    @section.data.description.asOption.map(_.asString).filter(_.nonEmpty).map{x=>
      <div class="col-xs-12 info-section">
        <div class="col-xs-12 col-sm-2">
          <img src="images/Group 8.png" alt="info" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-10">
          <p>@Html(x)</p>
          @part.html.optional(section.data.action.asOption.map(_.asString)){x=>
            <a class="more text-truncate"
              href="@section.data.linkTo.asOption.orElse(section.data.link.asOption).map(_.asString).getOrElse("#nolink")">
              @x
            </a>
          }
        </div>
      </div>
    }
  </div>
</div>
@*
  <article>
    <h1 class="pt-5">@benefit.title</h1>
    <div class="row pb-3">
      @for(child <- benefit.children){ <div class="col-lg-4 pb-3">
        <a href="@child.syaml.linkTo.valueOrElse(benefit.syaml.linkTo.valueOrElse(benefit.link))"
      alt2="@child.syaml.linkTo" class="card-link text-secondary">
          <div class="card h-100 border-light">
                @child.data.image.asOption.map{x=>
                  <div class="my-thumbnail">
                    <img src="@x.asUrl">
                  </div>
                }
              <div class="card-body text-center">
                  <h2 class="card-title">
                    <div>@child.titleIfNeeded</div>
                   </h2>
                  <p class="card-text">@Html(child.description)</p>
              </div>
          </div>
             </a>
    </div>
    }
    </div>
    <div class="row pb-3">
      <div class="col">
        @Html(benefit.description)
      </div>
      <div class="col-md-12 text-right pt-3">
        <a class="btn btn-lg btn-secondary text-truncate" href="@benefit.syaml.linkTo.valueOrElse(benefit.link)">@benefit.syaml.get("action").asString.get</a>
      </div>
    </div>
  </article>
  *@
