@import org.raisercostin.sekyll._

@()(implicit item:Item)
@if(item.site.devMode){
	<!-- Library Styles -->
	<link href="@item.site.path/lib/tether/css/tether.css"              rel="stylesheet" type="text/css">
	<link href="@item.site.path/lib/bootstrap/css/bootstrap.css"        rel="stylesheet" type="text/css">
	<link href="@item.site.path/lib/font-awesome/css/font-awesome.css"  rel="stylesheet" type="text/css">
	<!-- Custom Styles -->
	<link href="css/style.css"                                          rel="stylesheet" type="text/css">
	<link href="@item.site.path/css/main.css"                           rel="stylesheet" type="text/css">
}else{
	<link href="@item.site.path/css/all-@{item.site.assetFingerPrint}.css" rel="stylesheet" type="text/css">
}
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

@*
<link href="@item.site.path/css/modern-business.css" rel="stylesheet" type="text/css">
*@
