@(image:String, imageAlt:Any, header:Any)(body:Html)
<div class="media">
  <img class="d-flex align-self-start mr-3" src="@image" alt="@imageAlt">
  <div class="media-body">
    <h5 class="mt-0">@Html(header.toString)</h5>
    @body
  </div>
</div>