@import eu.dcsi.sekyll.docs.BlogPost
@import org.raisercostin.sekyll._
@import play.twirl.api.JavaScriptFormat
@(blogPost: BlogPost, content: Html)(implicit item:Item)

@main(Some(blogPost.title)){ @* head *@
    <link href="@item.site.path/blog/atom.xml" type="application/atom+xml" rel="home" title="ATOM Feed" />
} { @* footer *@
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57a0eb1ac33f75f8"></script>
    <script>
        var disqus_config = function () {
            this.page.url = "@{item.site.baseUrl}/blog/@{blogPost.id}.html";
            this.page.identifier = "@blogPost.id";
            this.page.title = "@{Html(JavaScriptFormat.escape(blogPost.title).body)}";
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//lagomframework.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
} {

    <header class="fw-wrapper lgm-purple page-title">
        <div class="row">
            <div class="small-12 columns">
                <div class="blog-meta">
                    <div class="blog-author-image">
                        <a href="@blogPost.author.url">
                            <img src="@blogPost.author.avatar"/>
                        </a>
                    </div>
                    <div class="blog-meta-details">
                        <a class="blog-author-name" href="@blogPost.author.url">@blogPost.author.name</a>
                        |
                        <span class="blog-post-date">@blogPost.date.toString("MMMM d, yyyy")</span>
                        <div class="blog-meta-tags">
                            @if(blogPost.tags.nonEmpty) {
                                <img src="@item.site.path/images/entypo/white/entypo_tag.svg" class="svg-icon"/>
                                @for(tag <- blogPost.tags) {
                                    <span class="blog-tag"><a href="tags/@{encodePathSegment(tag)}.html">@tag</a></span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <h1>@blogPost.title</h1>
            </div>
        </div>
    </header>

    <article class="fw-wrapper page-content">
        <div class="row">
            <div class="small-12 large-7 columns">
                @content

                <h2>Share</h2>
                <div class="addthis_sharing_toolbox"></div>

                <br/>

                <h2>Discuss</h2>
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
            <aside class="show-for-medium small-12 large-4 columns">
            @blogNav()
            </aside>
        </div>
    </article>


}
