@import com.lightbend.docs.Context
@import eu.dcsi.sekyll.docs.VersionPage
@import eu.dcsi.sekyll.docs.Section
@import org.raisercostin.sekyll._
@import eu.dcsi.sekyll.docs.NavLink

@(path: String, content: Html, context: Context, language: String, version: String, versions: Seq[VersionPage], nav: List[Section],
        canonical: Option[String], nextLinks: Seq[NavLink])(implicit item:Item)

@main(Some(context.title), canonical) { @* Header *@
    <link rel="stylesheet" href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" />
    @for(css <- context.resources.stylesheets) {<link rel="stylesheet" type="text/css" href="@css"/>
    }
} { @* Footer *@
    <script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
        apiKey: "77ef1e29e6bddfca861f7a42cc51725e",
        indexName: "lagomframework",
        inputSelector: "#docs-search",
        algoliaOptions: {
            facetFilters: ["version:@version", "language:@language"]
        }
    });
    </script>
    @for(script <- context.resources.scripts) {<script type="text/javascript" src="@script"></script>
    }
} {  @* Body *@
    <header class="fw-wrapper lgm-purple page-title">
        <div class="row">
            <div class="small-12 columns">
                <h1>@context.title</h1>
            </div>
        </div>
    </header>

    <div class="fw-wrapper documentation-content">
        <div class="row">
            <div class="small-12 large-7 columns">
                @if(nav.size > 1) {
                    <nav class="breadcrumbs">
                        <a href="@nav.head.url">@nav.head.title</a>
                        @for(section <- nav.drop(1)) {
                            &raquo; <a href="@section.url">@section.title</a>
                        }
                    </nav>
                }

                <article>
                @content
                </article>

                @if(nextLinks.nonEmpty) {
                    @if(nextLinks.tail.nonEmpty) {
                        <nav class="next-links">
                            <strong>Next:</strong>
                            <ul>
                            @for(link <- nextLinks) {
                                <li><a href="@{link.url}">@link.title</a></li>
                            }
                            </ul>
                        </nav>
                    } else {
                        @for(link <- nextLinks) {
                            <nav class="next-link">
                                <a href="@{link.url}"><strong>Next: </strong> @link.title</a>
                            </nav>
                        }
                    }
                }

                @for(sourceUrl <- context.sourceUrl) {
                    <p class="edit-source">Found an error in this documentation? The source code for this page can be found
                        <a href="@sourceUrl">here</a>. Please feel free to edit and contribute a pull request.</p>
                }
            </div>
            <aside class="small-12 large-4 columns">
                <nav class="side-menu">

                    <input type="text" id="docs-search" placeholder="Search"/>

                    <label for="docs-version">Version:</label>
                    <select id="docs-version">
                    @for(v <- versions) {
                        <option value="@item.site.path/documentation/@v.name/@language@if(v.exists){/@path}else{/Home.html}"@if(v.name == version){ selected="selected"}>@v.name</option>
                    }
                    </select>

                    <a href="@item.site.path/documentation/@version/@language/api/index.html" class="api-docs">API Documentation</a>

                    @for(section <- nav.reverse) {
                        <h3>@section.title</h3>
                        <ul>
                        @for(link <- section.children) {
                            @if(link.current) {
                                <li class="current-page"><a href="@link.url">@link.title</a></li>
                            } else {
                                <li><a href="@link.url">@link.title</a></li>
                            }
                        }
                        </ul>
                    }
                </nav>
            </aside>
        </div>
   </div>
}
