@import eu.dcsi.sekyll.docs.VersionSummary
@import eu.dcsi.sekyll.docs.Version
@import org.raisercostin.sekyll._

@(version: Version)(implicit item:Item)

@toTitleCase(s: String) = {@s.head.toUpper@s.tail}

@page(s"Lagom ${version.name} documentation") {

    @for(lang <- version.languages) {
        <h3>@toTitleCase(lang.language)</h3>

        <ul>
            <li><a href="@item.site.path/documentation/@version.name/@lang.language/Home.html">Reference manual</a></li>
            <li><a href="@item.site.path/documentation/@version.name/@lang.language/api/index.html">API docs</a></li>
        </ul>
    }

}