@import org.raisercostin.sekyll._

@(implicit item:Item)

@page("Get Involved") {

    <h1>How you can help</h1>
    <p>
        Lagom is an open source project and everyone is encouraged to get involved! There are lots of ways you can contribute.
    </p>

    <div class="inset-icons">
        <h2 class="mailing">Join the mailing list</h2>
        <p>
            The <a href="//groups.google.com/forum/#!forum/lagom-framework">lagom-framework mailing list</a> is where the Lagom community meets.
            Asking and answering questions on the mailing list is a great way to share knowledge about Lagom.
            You can also join our <a href="//gitter.im/lagom/lagom">Gitter channel</a> for real time chat about Lagom.
        </p>

        <h2 class="stack">Contribute to Stack Overflow</h2>
        <p>
            Stack Overflow is a Q&A site for programmers. Stack Overflow has a very active community of people asking and answering
            <a href="//stackoverflow.com/questions/tagged/lagom">questions about Lagom</a>.
            Users can vote on each others' contributions and earn reputation points.
        </p>

        <h2 class="bug">Report bugs</h2>
        <p>
            Bug reports help Lagom improve, so please report any issues you have!
            Lagom uses <a href="//github.com/lagom/lagom/issues">GitHub to track issues</a>.
            When you report bugs, make sure you include lots of detail, including reproducible tests, example code or anything else you think might help.
        </p>

        <p>
            Even if you're not ready to fix issues yourself just yet, you can help out by verifying issues that have been reported by others.
            Look for issues tagged with the <a href="//github.com/lagom/lagom/issues?labels=needs-verification">needs-verification</a> label.
            You can assist by looking at these issues and doing some checking to confirm whether they're bugs or not.
            You could provide reproducible tests or a sample project, or even just ask the original reporter for more information.
        </p>

        <h2 class="patch">Patch the core</h2>
        <p>
            Lagom's code and documentation is hosted on <a href="//github.com/lagom/lagom">Github</a>.
            Lagom development is discussed on the <a href="//gitter.im/lagom/contributors">Lagom contributers Gitter channel</a>.
            Here you can talk to the Lagom contributors about features and improvements for Lagom.
        </p>

        <p>
            You're welcome to work on any feature you like — Lagom is open source after all! — but if you'd like some good ideas, look for issues tagged with the
            <a href="//github.com/lagom/lagom/issues?labels=community">community</a> label.
            These issues are ready and waiting for volunteers to pick them up.
        </p>
    </div>
}