@import org.raisercostin.sekyll._

@(title: String)(content: Html)(implicit item:Item)

@main(Some(title))()() {

    <header class="fw-wrapper lgm-purple page-title">
        <div class="row">
            <div class="small-12 columns">
                <h1>@title</h1>
            </div>
        </div>
    </header>

    <article class="fw-wrapper page-content">
        <div class="row">
            <div class="small-12 large-7 columns">
                @content
            </div>
            <aside class="show-for-medium small-12 large-4 columns">
                <nav class="side-menu">
                    @sideNav()
                </nav>
            </aside>
        </div>
    </article>

}