@import org.raisercostin.sekyll._

@()(implicit item:Item)

<h3>Documentation</h3>
<ul>
    <li><a href="@item.site.path/get-started.html">Get started</a></li>
    <li><a href="@item.site.path/documentation/">Full documentation</a></li>
    <li><a href="@item.site.path/blog">Blog</a></li>
</ul>
<h3>Find help</h3>
<ul>
    <li><a href="https://gitter.im/lagom/lagom">Gitter channel</a></li>
    <li><a href="https://stackoverflow.com/questions/tagged/lagom">Stack overflow</a></li>
    <li><a href="https://www.lightbend.com/services/expert-support">Professional support</a></li>
</ul>
<h3>Contribute</h3>
<ul>
    <li><a href="@item.site.path/get-involved.html">Get involved</a></li>
    <li><a href="@item.site.path/conduct.html">Code of conduct</a></li>
    <li><a href="@item.site.path/community-process.html">Community process</a></li>
    <li><a href="@item.site.path/contributing.html">Contributor guidelines</a></li>
</ul>
<h3>Programs</h3>
<ul>
    <li><a href="@item.site.path/outreachy/round14.html">Outreachy</a></li>
</ul>
