@import org.raisercostin.sekyll._

@()(implicit item:Item)

<a href="@item.site.path/get-started.html">Try Lagom</a>
<a href="@item.site.path/documentation/">Documentation</a>
<a href="@item.site.path/get-involved.html">Get Involved</a>
<a href="@item.site.path/blog/">Blog</a>
