@import org.raisercostin.sekyll._
@()(implicit item:Item)
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url(@item.site.route("sliderimg.png"))">
                    <div class="carousel-caption d-none d-md-block text-primary">
                        <h1>Successful Enterprise is Agile</h1>
                        <p>Direct Consulting Services (DCS) is an agile company focused on services and solutions in the strategic area of security and Identity Management.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080.png/309DD6/D2E1E2')">
                    <div class="carousel-caption d-none d-md-block text-primary">
                        <h3>Best practices, methodologies and tools that money can buy</h3>
                        <p>Our mandate is not to reinvent the wheel but make the most of what is already established as best practices, methodologies and tools.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080.png/309DD6/D2E1E2')">
                    <div class="carousel-caption d-none d-md-block text-primary">
                        <h3>Interdisciplinary and Polyglot Programming</h3>
                        <p>We have touched almost every aspect of IT so we are able to create solutions being aware of the implications and consequences.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-primary" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-primary" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>