@import org.raisercostin.sekyll._

@(implicit item:Item)

@part.html.mainWithArticle()() {
<div class="row">
	<div class="col-lg-12">@{item.rendered}</div>
</div>
<div class="row">
	@for(child <- item.children){
	<div class="col mb-3">
			<h2 class="card-title">
				<div>@child.titleIfNeeded</div>
				@child.fullImageOption.map{x=>
	       			<div class="my-thumbnail mt-4">
	       				<img src="@x">
	       			</div>
				}
			</h2>
			<p class="card-text">@Html(child.description)</p>
	</div>
	}
</div>
}
