@import org.raisercostin.sekyll._

@(implicit item:Item)
@part.html.main()() {
  @part.html.section3(item)
  @part.html.quote()
}
@*
  <div class="col-xs-12 identity_access">
    <div class="col-xs-12 container big-title">
      <h1>@item.title.getOrElse("no-title")<small>@@ *site.page.subtitle* @@</small></h1>
      <div class="thinRedLine"></div>
      <p>@{item.rendered}</p>
    </div>
  </div>
  *@
@*
  <div class="col-xs-12 identity_access">

	    <div class="row">
            <div class="col-lg-12">
	        	@{item.rendered}
            </div>
        </div>
		<div class="row">
			@for(child <- item.children){
		    <div class="col-lg-@{12/child.syaml.itemsOnRow.valueOrElse(3)} portfolio-item">
		    	<a id="@child.id"></a>
				<a href="@child.slug" class="card-link text-secondary">
		        	<div class="card h-100">
			            <div class="card-body">
			                <h2 class="card-title">
		                		<div>@child.titleIfNeeded</div>
		                		@child.data.image.asOption.map{x=>
                          @println(x.snode)
		                			<div class="my-thumbnail mt-4">
		                				<img src="@x.asUrl">
		                			</div>
		                		}
			               	</h2>
			                <p class="card-text">@Html(child.description)</p>
			            </div>
			        </div>
               	</a>
		    </div>
		    }
		</div>
}
*@
@*
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
*@
