@import org.raisercostin.sekyll._

@(implicit item:Item)
@part.html.main( part.html.header()(item.site.item("Intros")) )() {
@*<article>*@
  <div class="container" id="main-container">
    <div class="first-section">
      @for(intro <- item.site.items("intros")){
        <div class="col-xs-12 col-sm-6">
          <img src="@intro.data.image.asUrl" alt="" class="img-responsive">
          <h3>@intro.data.title.asString</h3>
          <p>@Html(intro.data.description.asString)</p>
        </div>
      }
    </div>
  </div>
  @for(section <- Seq("benefits"/*,"clients","partners"*/)){
    @for(benefit <- item.site.items(section)){
      @part.html.section3(benefit)
    }
  }
  @part.html.quote()
  @*</article>*@
}
