@import org.raisercostin.sekyll._

@(implicit item:Item)

@part.html.mainWithArticle()() {
    <div class="row">
        <div class="col-lg-12">
            @{item.rendered}
        </div>
    </div>
    <div class="row">
        @for(section <- item.data.sections){
        <div class="col-xs-12 col-sm-6 col-md-3 portfolio-item">
            @bootstrap.html.media(section.image.asString,section.name.asOptionString.getOrElse(""),section.name.asOptionString.getOrElse("")){
                <ul>
                    @for(item <- section.items){
                        <li>@Html(item.asString)</li>
                    }
                </ul>
            }
        </div>
        }
    </div>
}
