@import org.raisercostin.sekyll._

@(implicit item:Item)

@part.html.mainWithArticle()() {
	    <div class="row">
        <div class="col-lg-7">
          <img class="img-fluid" src="@item.data.image.asUrl"/>
        </div>
        <div class="col-lg-5">
          <h2>@item.data.offer.pitch.asString</h2>
          <p>@item.data.offer.description.asString</p>
          <ul>
            @for(child <- item.data.offer.brochures){
            <li><a href="@child.link.asString" target="_blank">@{child.`type`.asString} - @child.name.asString</a></li>
            }
			  	</ul>
        </div>
      </div>
	    <div class="row">
        <div class="col-lg-12">
          <h2>Benefits</h2>
          <ul>
            @for(child <- item.data.offer.benefits){
            <li>@{child.asString}</li>
            }
			  	</ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          @{item.rendered}
        </div>
      </div>
      <div class="row">
        @for(child <- item.children){
		    <div class="col-lg-@{12/child.syaml.itemsOnRow.valueOrElse(3)} portfolio-item">
		    	<a id="@child.id"></a>
				<a href="@child.slug" class="card-link text-secondary">
		        	<div class="card h-100">
			            <div class="card-body">
			                <h2 class="card-title">
		                		<div>@child.titleIfNeeded</div>
		                		@child.data.image.asOption.map{x=>
		                			<div class="my-thumbnail mt-4">
		                				<img src="@x.asUrl">
		                			</div>
		                		}
			               	</h2>
			                <p class="card-text">@Html(child.description)</p>
			            </div>
			        </div>
               	</a>
		    </div>
		    }
		</div>
}
