@import org.raisercostin.sekyll._

@(implicit item:org.raisercostin.sekyll.ErrorItem)
@part.html.mainWithArticle()() {
	<div class="jumbotron">
		<h1 class="display-1">500</h1>
		<p>
			<pre style="white-space: pre-wrap;">@item.error</pre>
		</p>
		<p>The @item.site.data.title website does not contain too many pages, nor does it contain too few pages. It contains just the right amount of pages. The page you have requested is not one of them.</p>
		<p>Here are some helpful links to get you back on track:
		<ul>
			@for(url<-item.site.sitemap.sorted){
				<li><a href="@url">@url</a></li>
			}
		</ul>
		</p>
	</div>
}