@import org.raisercostin.sekyll._

@(implicit item:Item)
@part.html.main()() {
    <article class="container">
		@for(folder <- item.children){
		<h1 class="pt-5">@folder.title</h1>
		<div class="row pb-3">
			@for(child <- folder.children){
		    <div class="col-lg-4 pb-3">
				<a href='@folder.syaml.linkTo.valueOrElse(child.slug)' class="card-link text-secondary">
		        	<div class="card h-100 border-light">
                		@child.fullImageOption.map{x=>
                			<div class="mt-4 my-thumbnail">
               					<img src="@x">
                			</div>
                		}
			            <div class="card-body text-center">
			                <h2 class="card-title">
		                		<div>@child.titleIfNeeded</div>
			               	</h2>
			                <p class="card-text">@Html(child.description)</p>
			            </div>
			        </div>
               	</a>
		    </div>
		    }
		</div>
		<div class="row pb-3">
			<div class="col">
				@Html(folder.description)
			</div>
            <div class="col-md-12 text-right pt-3">
                <a class="btn btn-lg btn-secondary" href="@folder.link" dev-title="@folder.syaml.action.descriptionIfNotExists">@folder.syaml.action.valueOrElse(folder.link)</a>
            </div>
		</div>
	    }
	</article>
}