@import org.raisercostin.sekyll._

@(implicit item:Item)
@part.html.main()() {
  <div class="col-xs-12 identity_access">
    <div class="col-xs-12 container big-title">
      <h1>@item.title.getOrElse("no-title")<small>@*site.page.subtitle*@</small></h1>
      <div class="thinRedLine"></div>
    </div>
  </div>
  @for(folder <- item){
    @part.html.section3(folder)
  }
  @part.html.quote()
@*
  <article class="container">
    <header class="mt-4 mb-3">
      <h1>@item.title.getOrElse("no-title")<small>@@*site.page.subtitle* @@</small></h1>
       @item.fullImageOption.map{x=>
        <div class="my-thumbnail" style="height:400px;max-height:400px;">
            <img src="@x" style="width:100%"/>
        </div>
      }
    </header>
    <div class="row">
        <div class="col-lg-12">
          @{item.rendered}
        </div>
    </div>
    @for(folder <- item){
      <article>
        <h2 class="pt-5"><a id="@folder.id"></a>@folder.title</h2>
          <div class="row">
                <div class="col-lg-12">
                  @folder.fullImageOption.map{x=>
            <div class="my-thumbnail" style="height:400px;max-height:400px;">
                <img src="@x" style="width:100%"/>
            </div>
            }
                @{folder.rendered}
                </div>
            </div>
            <div class="row pb-3">
          @for(child <- folder){
            @part.html.box(folder,child)
            @@ *
            <div class="col-lg-4 pb-3">
            <a href='@child.syaml.linkTo.valueOrElse(child.slug)'
                          alt="@child.syaml.linkTo" class="card-link text-secondary">
                  <div class="card h-100 border-light">
                        <div class="mt-4 my-thumbnail">
                           <img src="@child.data.image.asUrl">
                        </div>
                      <div class="card-body text-center">
                          <h3 class="card-title">
                            <div>@child.titleIfNeeded</div>
                           </h3>
                          <p class="card-text">@Html(child.description)</p>
                      </div>
                  </div>
                     </a>
            </div>
            * @@
            }
        </div>
        <div class="row pb-3">
          <div class="col">
            @Html(folder.description)
          </div>
                <div class="col-md-12 text-right pt-3">
                    <a class="btn btn-lg btn-secondary" href="@folder.link" dev-title="@folder.syaml.action.descriptionIfNotExists">@folder.syaml.action.valueOrElse(folder.link)</a>
                </div>
        </div>
      </article>
    }
  </article>
*@
}
