@import eu.dcsi.sekyll.docs.BlogPost
@import org.raisercostin.sekyll._
@import eu.dcsi.website._
@import eu.dcsi.sekyll.docs.html.encodePathSegment

@(title: String, renderRecent: Boolean, posts: Seq[(BlogPost, Html)])(implicit item:Item)

@part.html.mainWithArticle{
    <link href="@item.site.path/blog/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
}() {


        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
			@for((blogPost, summary) <- posts) {
                <!-- Blog Post -->
                <div class="card mb-4">
                    @*<img class="card-img-top img-fluid" src="http://placehold.it/750x300" alt="Card image cap">*@
                    <div class="card-block">
                        <h2 class="card-title"><a href="@item.site.path/blog/@{blogPost.id}.html">@blogPost.title</a></h2>
                        <p class="card-text">@summary</p>
                        <a href="@item.site.path/blog/@{blogPost.id}.html" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
	                    @*<div class="blog-meta-tags">*@
	                    <div class="pull-right">
	                    @if(blogPost.tags.nonEmpty) {
	                        <img src="@item.site.path/images/entypo/purple/entypo_tag.svg" class="svg-icon" style="width:1em;"/>
	                        @for(tag <- blogPost.tags) {
	                            <span class="blog-tag"><a href="@item.site.path/blog/tags/@{encodePathSegment(tag)}.html">@tag</a></span>
	                        }
	                    }
	                    </div>
                        Posted on @blogPost.date.toString("MMMM d, yyyy") by <a class="blog-author-name" href="@blogPost.author.url"><img src="@blogPost.author.avatar" style="width:2em;"/> @blogPost.author.name</a>
                    </div>
                </div>
			}

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
                </ul>

            </div>

            <!-- Sidebar Widgets Column -->
            <aside class="col-md-4">

                <!-- Search Widget -->
                <div class="card mb-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled mb-0">
							    @for((tag, count) <- item.site.blogSummary.tags) {
							        <li><a href="@item.site.path/blog/tags/@{encodePathSegment(tag)}.html" data-count="@count">@tag</a></li>
							    }
                                </ul>
                            </div>
                            @*
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">HTML</a></li>
                                    <li><a href="#">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#">JavaScript</a></li>
                                    <li><a href="#">CSS</a></li>
                                    <li><a href="#">Tutorials</a></li>
                                </ul>
                            </div>
                            *@
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
			    @if(renderRecent || true) {
	                <div class="card my-4">
	                    <h5 class="card-header">Recent Posts</h5>
	                    <div class="card-block">
				        @for(blogPost <- item.site.blogSummary.recent) {
				            <div class="blog-meta">
				                <div class="blog-author-image">
				                    <a href="@blogPost.author.url">
				                        <img src="@blogPost.author.avatar" style="width:2em;"/>
				                    </a>
				                </div>
				                <div class="blog-meta-details">
				                    <a href="@item.site.path/blog/@{blogPost.id}.html">@blogPost.title</a>
				                    <br/>
				                    @blogPost.date.toString("MMMM d, yyyy")
				                </div>
				            </div>
				        }
	                    </div>
	                </div>
			    }

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-block">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </aside>
        </div>
}