@import eu.dcsi.sekyll.docs.BlogSummary
@import org.raisercostin.sekyll._
@import eu.dcsi.website._

@(implicit item:Item)
@part.html.mainWithArticle()() {
	<p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at <a href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.</p>
}