@import eu.dcsi.sekyll.docs.BlogSummary
@import org.raisercostin.sekyll._
@import eu.dcsi.website._

@(implicit item:Item)
@part2.html.main2()() {
    <article class="container">
		@part.html.header()

        <div class="row">
        	@*
            <div class="col mb-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
						<img src="http://dcsi.labs.roweb.ro/wp-content/uploads/2016/05/icon3.png"/>
                    	<h5 class="card-title mt-4">Successful Enterprise is Agile</h5>
                        <p class="card-text">Direct Consulting Services (DCS) is an agile company focused on services and solutions in the strategic area of security and Identity Management.</p>
                        <!-- <a href="#" class="card-link">Learn More</a> -->
                    </div>
                </div>
            </div>
            *@
            <div class="col mb-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
	                	<img src="http://dcsi.labs.roweb.ro/wp-content/uploads/2016/05/icon2.png"/>
                    	<h5 class="card-title mt-4">Best practices, methodologies and tools that money can buy</h5>
                        <p class="card-text">Our mandate is not to reinvent the wheel but make the most of what is already established as best practices, methodologies and tools.</p>
                        <!-- <a href="#" class="card-link">Learn More</a> -->
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 text-center border-0">
                    <div class="card-body">
						<img src="http://dcsi.labs.roweb.ro/wp-content/uploads/2016/05/folderopen.png"/>
                    	<h5 class="card-title mt-4">Interdisciplinary and Polyglot Programming</h5>
                        <p class="card-text">We have touched almost every aspect of IT so we are able to create solutions being aware of the implications and consequences.</p>
                        <!-- <a href="#" class="card-link">Learn More</a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="col col-xl-5">
                <a class="btn btn-lg btn-primary btn-block" href="contact">Request a free quote for your project</a>
            </div>
        </div>

<a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">dev ...</a>
<div class="collapse" id="collapseExample">
<div class="card card-body">
        <h1 class="mt-4">Solutions</h1>
        <div class="row mt-3">
            <div class="col-lg-6">
                <h2>Consultancy - Integration</h2>
                <p>Your systems had grown with your success. The technical debt must be paid. We can help you with:</p>
                <ul>
                    <li>Isolate legacy systems</li>
                    <li>Migrate old API to newer technologies</li>
                    <li>Scale up</li>
                    <li>Extract microservices</li>
                    <li>Integrate on an Enterprise Service Bus</li>
                </ul>
                <p>For this we have experience working with eMule, WSO2, custom Flow Management and Distributed Flow Management Software, BPM & BPMN, JBoss ESB.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 order-12">
                <h2>Solution2</h2>
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v4</strong>
                    </li>
                    <li>jQuery</li>
                    <li>Font Awesome</li>
                    <li>Working contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-lg-6 order-1">
                <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
            </div>
        </div>

        <h1>Portfolio Heading</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project One</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project Two</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project Three</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project Four</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project Five</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-fluid" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Project Six</a></h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                    </div>
                </div>
            </div>
        </div>

        <h1>Clients</h1>
        <div class="row">
        	@for(customer <- item.site.items("portfolio/clients")){
	            <div class="col-lg-3 col-sm-6 mb-3">
	                <img class="img-fluid mx-auto my-auto d-block" src="@customer.image" alt="">
	            </div>
            }
        </div>

        <h1>Case Studies</h1>
        <div class="row">
        	@for(customer <- item.site.items("portfolio/case-studies")){
	            <div class="col-lg-3 col-sm-6 mb-3">
	            	<div class="card h-100">
		                <img class="img-fluid mx-auto my-auto d-block" src="@customer.image" alt="">
		            </div>
	            </div>
            }
        </div>

        <h1>How we work</h1>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-lg-6">
                <h2>About Modern Business</h2>
                <p>Direct Consulting Services (DCS) is a consulting company that offers highly skilled consultancy, advisory and solutions in the strategic area of security and Identity Management. Our solutions are based on the most innovative, advanced and proven best practices and standards with highest conceptual and technological security levels to protect any valuable resource, data and user privacy.</p>

				<p>Because we have touched almost every aspect of IT, we are able to create solutions being aware of the implications and consequences. These solutions are fit to the customer’s needs starting with recommending hardware configurations and setups and finishing with delivering and supporting  the provided solution in a professional manner.</p>
				
				<p>Our mandate is not to reinvent the wheel but make the  most of what is already established as best practices and methodologies, being in the same time flexible and adapting to the fast moving and highly dynamic Information and Technology Industry.</p>
				
				<p>Proven experience implementing Oracle based IAM solutions for major players in telecommunications and education in the Middle East market, both 10g and 11g versions.</p>
				
				<p>Successful implementation of Oracle Identity Management Suite 11g at The National Trade Register Office (ONRC) in Romania Supported the Access and Identity Management solution for the European Central Bank.</p>
				
				<p>Direct Consulting Services – Proper consulting.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <h1>Our Team</h1>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="http://placehold.it/750x450" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Cristian Chiru</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">cristian</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="https://gravatar.com/avatar/44e6e0d2c563fd9da3dcf01e69e5d8f5?s=750" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Costin Grigore</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">costin</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="http://placehold.it/750x450" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Team Member</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">office@@dcsi.eu</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Modern Business Features</h2>
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v4</strong>
                    </li>
                    <li>jQuery</li>
                    <li>Font Awesome</li>
                    <li>Working contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
         <h1>Sitemap</h1>
        <div class="row">
            <ul class="col">
            	@for(url<-item.site.sitemap.sorted){
            		<li><a href="@url">@url</a></li>
            	}
            </ul>
        </div>
	</article>
}