@import org.raisercostin.sekyll._
@import eu.dcsi.website._

@(implicit item:org.raisercostin.sekyll.Item)
@part.html.mainWithArticle()() {
	<div class="jumbotron">
		<h1 class="display-1">404</h1>
		<p>The DCS website does not contain too many pages, nor does it contain too few pages. It contains just the right amount of pages. The page you have requested is not one of them.</p>
		<p>Here are some helpful links to get you back on track:
		<ul>
			@for(url<-item.site.sitemap.sorted){
				<li><a href="@url">@url</a></li>
			}
		</ul>
		</p>
	</div>
}